-X main.DropboxBusinessInfoAppKey=key
-X main.DropboxBusinessInfoAppSecret=secret
-X main.DropboxBusinessFileAppKey=key
-X main.DropboxBusinessFileAppSecret=secret
-X main.DropboxBusinessAuditAppKey=key
-X main.DropboxBusinessAuditAppSecret=secret
